<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/NGO.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>What We Do <i class="fa fa-chevron-right"></i></span>
                    <span> NGO Clinic <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">NGO Clinic</h1>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section">
                <!--<span class="subheading">Market</span>
                <h2 class="mb-4">M-RITE</h2>-->
            </div>
        </div>
        <p style="text-align: left;">We invite Subject Matter Experts from specific domains for an hour-long discussion
            followed by a Q & A session on the fourth Friday of each month.
            <br>
            <b>Objectives:-</b>
        </p>
        <ul>
            <li>To understand the primary needs of the grassroots organisations and provide suitable need-based
                solutions</li>
            <li>To generate ideas and supporting them with proper way of execution through utmost guidance from
                technical perspective</li>
            <li>To create a bridge between the known and unknown facts of sustainability of the grassroots organisations
            </li>
            <li>To build the capacity and create a knowledge enhancement platform for the grassroots organisations</li>
            <li>Influence the inactive organisations to participate proactively</li>
            <li>To brainstorm new ideas of innovation through a holistic development approach</li>
        </ul>

        <p style="text-align: left;">

            <b>Till date we have held 8 NGO Clinics Webinars under the themes: </b>
        </p>
        <ul>
            <li>Proposal Writing</li>
            <li>Legal Compliances</li>
            <li>Brand Building</li>
            <li>Social Stock Exchange</li>
            <li>Financial Inclusion of Sustainability of the Grassroots Organizations.</li>
            <li>Sustainable Approaches of Community Development</li>
            <li>Monitoring and Evaluation Framework for Sustainable Program Execution </li>
            <li>Webinar on Clearing doubts about NGO Operations and Management</li>
        </ul>

        <div class="row">

        </div>
    </div>
</section>