<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/covid.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span>Covid 19 <i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-3 bread">Covid 19</h1>
            </div>
        </div>
    </div>
</section>

<div class="out-covid">
<div class="covid-wrapper">
    <div class="viruses">
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
      <div class="virus"></div>
    </div>
    <div class="covid-arms"></div>
    <div class="covid-arms right"></div>
    <div class="earth-wrapper">
      <div class="earth-detail"></div>
      <div class="earth">
        <div class="covid-eyes earth-eyes"></div>
        <div class="covid-eyes earth-eyes left"></div>
        <div class="mask"></div>
        <div class="mask-wrapper"></div>
        <div class="mask-detail"></div>
        <div class="mask-back"></div>
        <div class="earth-green">
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
          <div class="earth-greens"></div>
        </div>
      </div>
    </div>
    <div class="covid">
      <div class="covid-spots">
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
        <div class="covid-spot"></div>
      </div>
      <div class="covid-eyes"> </div>
      <div class="covid-eyes left"></div>
      <div class="covid-eyebrow"></div>
      <div class="covid-eyebrow right"></div>
      <div class="covid-mouth"></div>
      <div class="covid-cheek"></div>
      <div class="covid-cheek right"></div>
    </div>
  </div>
  <div class="covid-pulse">
    <div class="covid-sticks">
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
      <div class="covid-stick"></div>
    </div>
  </div>
</div>

<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section">
                <!--<span class="subheading">Market</span>-->
                <h3 class="mb-4">About the Pandemic- Covid 19</h3>
            </div>
        </div>
        <p style="text-align: left;">COVID-19 appeared in Wuhan, a city in China, in December 2019. China informed the World Health 
            Organisation (WHO) on December 31, 2019, of a cluster of pneumonia cases of an unknown cause in Wuhan City in Hubei 
            province. Subsequently the disease spread to more provinces of China and then to the rest of the world. The WHO has 
            declared it a pandemic.  Coronaviruses are a type of virus that has been newly identified and has caused a recent outbreak 
            of respiratory illness now called COVID-19.
        </p>


        <div class="row justify-content-center pb-2 pt-4">
            <div class="col-md-8 text-center heading-section">
                <!--<span class="subheading">Market</span>-->
                <h3 class="mb-4">How does the new coronavirus spread?</h3>
            </div>
        </div>
        <p style="text-align: left;">The coronavirus is spread through droplets released into the air when an infected person coughs 
            or sneezes. The droplets generally do not travel more than a few feet, and they fall to the ground (or onto surfaces) in 
            a few seconds. So it's important that you practise respiratory etiquette (for example, by coughing into a flexed elbow) 
            and physical distancing is effective in preventing the spread.
        </p>


        <div class="row justify-content-center pb-2 pt-4">
            <div class="col-md-8 text-center heading-section">
                <!--<span class="subheading">Market</span>-->
                <h3 class="mb-4">What is the incubation period for COVID-19?</h3>
            </div>
        </div>
        <p style="text-align: left;">On average it takes 5-6 days from when someone is infected with the virus for symptoms to 
            show, however it can take up to 14 days.
        </p>


        <div class="row justify-content-center pb-2 pt-4">
            <div class="col-md-8 text-center heading-section">
                <!--<span class="subheading">Market</span>-->
                <h3 class="mb-4">What are symptoms of COVID-19?</h3>
            </div>
        </div>
        <p style="text-align: left;">Most people infected with the COVID-19 virus will experience mild to moderate respiratory 
            illness and recover without requiring special treatment.  Older people, and those with underlying medical problems 
            like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious 
            illness. COVID-19 symptoms include:
            <br>
            <b>Most common symptoms:</b>  fever, dry cough, tiredness
            <br>
            <b>Less common symptoms:</b> aches and pains, sore throat, diarrhoea, conjunctivitis, headache, loss of taste or smell, 
            a rash on skin, or discolouration of fingers or toes.
            <br>
            <b>Serious symptoms:</b> difficulty breathing or shortness of breath, chest pain or pressure, loss of speech or 
            movement.
            
            <br>
            Seek immediate medical attention if you have serious symptoms.  Always call before visiting your doctor or health 
            facility. People with mild symptoms who are otherwise healthy should manage their symptoms at home. 

        </p>


        <div class="row">
            <div class="row justify-content-center pb-2">
                <div class="col-md-8 text-center heading-section">
                    <!--<span class="subheading">Market</span>-->
                    <h3 class="mb-4">How to prevent infection from spreading?</h3>
                </div>
            </div>
            <p style="text-align: left;"><b> To  prevent infection and to slow transmission of COVID-19, do the following:</b></p>

            <ul>
                <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
                <li>Maintain at least 1 meter distance between you and people coughing or sneezing.</li>
                <li>Avoid touching your face.</li>
                <li>Cover your mouth and nose when coughing or sneezing.</li>
                <li>Stay home if you feel unwell.</li>
                <li>Refrain from smoking and other activities that weaken the lungs.</li>
                <li>Practise physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
            </ul>

            <p style="text-align: left;"><b>For more information and details on Corona and Advisory you can check following links:-</b></p>

            <ul>
                <li>Ministry of Health and Family Welfare - <a href="https://www.mohfw.gov.in/">Here</a> </li>
                <li>Ministry of Home Affairs - <a href="https://www.mha.gov.in/">Here</a></li>
                <li>WHO website - <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">Here</a></li>
            </ul>

        </div>
    </div>
</section>




