<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/Initiative.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Knowledge Hub <i class="fa fa-chevron-right"></i></span>
                    <span> Antyodaya <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Antyodaya</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-half-light">
    <div class="container">
      <div class="row justify-content-center pb-2">
        <div class="col-md-8 text-center heading-section   ">
          <span class="subheading">The</span>
          <h2 class="mb-4">Books</h2>
        </div>
      </div>
      <!--<p style="text-align: center;">Many research studies were undertaken on various thematic areas such as health,
              education, environment
              etc. with VOs,Corporates, Governments and other institutions.
          </p>-->
      <div class="row">
  
        <div class="Allpdfs">
          
            <div *ngFor="let item of this.antyodayaBooks; let i = index" class="pdf-viewer align-items-center justify-content-center p-0">
                  <div *ngIf="!this.authService.isLoggedIn && item.currentPage > 3" class="login-prompt align-items-center justify-content-center">
                    <div class="login-prompt-bg"></div>
                    <p>Please log in to view more than 3 pages.</p> 
                  </div>
                  <div class="pdf-container">
                    <pdf-viewer
                      [src]="item.PDFLink"
                      [page]="1"
                      [show-all]="true"
                      (pagechanging)="onPageChange($event, item, i)"
                      (after-load-complete)="onFileLoadComplete($event)"
                      [rotation]="0"
                      [original-size]="false"
                      [fit-to-page]="false"
                      [zoom]="1"
                      [zoom-scale]="'page-width'"
                      [stick-to-page]="false"
                      [render-text]="true"
                      [external-link-target]="'blank'"
                      [autoresize]="true"
                      [show-borders]="false"
                      style="width: 100%; height: 450px;"
                    ></pdf-viewer>
                  </div>
            </div>
  
        </div>
      </div>
    </div>
  </section>


<section class="ftco-section bg-half-light" style="padding-top: 30px;">
    <div class="container">

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
            <article>

                <div class="blog-content">
                    <summary>
                        <h3>Introduction</h3>
                        <!--<div class="blog-date">Meghalaya and Nagaland</div>-->
                    </summary>
                    <p>Documentation and compilation of Antyodaya-based best practices as propounded by Pandit Deendayal
                        Upadhyaya, a detailed study undertaken by the Indian Social Responsibility Network (ISRN) has
                        been an attempt to bring forth the efforts of all those who are working to uplift the last man
                        in the society. More often than not real-life heroes miss the glare of publicity as there is no
                        due recognition given to their initiatives. While fulfilling the objectives of the study, the
                        primary one being unearthing the best efforts from the remotest of places in the nation, it is
                        found that most such stories have not been heard by the public even though their impact has been
                        immense.
                    </p>
                </div>
                <!--<div class="blog-img">
                    <img src="../../../assets/images/Initiatives pics/1.jpg" alt="">
                    <div class="blog-img-caption"><b>our</b> Never Ending Journey</div>
                </div>-->
                <div class="blog-content">
                    <summary>
                        <h3>Objective</h3>
                        <!--<div class="blog-date">Meghalaya and Nagaland</div>-->
                    </summary>
                    <p>Ministry of Culture, Government of India has provided financial support to ISRN for conducting
                        the study on “Documentation & Compilation of the Best Practices of Sustainable Development as
                        Propounded by Pandit Deendayal Upadhyaya” which aims to collect best practices of
                        Antyodaya-based interventions of organizations/individuals, document and share it with a larger
                        audience to motivate and replicate similar models of sustainable development across India.
                        Targeting beneficiaries across the country, the specific objectives of the study were as
                        follows:
                    </p>
                    <ul>
                        <li>To collect the existing Antyodaya-based best practices from all over the country</li>
                        <li>To understand the implementation strategy of these models of development</li>
                        <li>To document the best practices, using both print and electronic media</li>
                        <li>To publish these practices in order to make it available to reach a wider audience</li>
                        <li>To motivate individuals/Voluntary Organisations/Corporates and imitate similar models of
                            development</li>
                        <li>To identify gaps, if any, and suggest relevant recommendations for Antyodaya based best
                            practices and the implementing partners of the project</li>
                    </ul>
                </div>


            </article>
        </div>


        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
            <article>

                <div class="blog-content">
                    <summary>
                        <h3>Jury Meet</h3>
                        <!--<div class="blog-date">Meghalaya and Nagaland</div>-->
                    </summary>
                    <p>The first jury meet that took place in Mumbai impelled modifications in the google form with an
                        idea to make it concise and easy to fill for the practitioners. Initially two step information
                        collection approach was adopted wherein the first form was a one page document to be filled up.
                        Based on the information gathered from it, ISRN team through internal discussion would proceed
                        in asking the organisation to fill up the second more detailed form. <br>
                        The final jury meet took place in Delhi where a detailed description of the study was given
                        where ISRN's CEO, Mr. Santosh Gupta, presented different phases of the study that were
                        undertaken as well as the challenges that came in each phase; the way forward of the study was
                        also described in order to accelerate the impact of the study at a much larger scale than
                        planned initially. A lot of positive response and encouragement came from the jury meet. ISRN is
                        determined to incorporate the valuable inputs along our way of seeing this study transform into
                        a massive national dissemination.

                    </p>
                </div>
                <!--<div class="blog-img">
                    <img src="../../../assets/images/Initiatives pics/1.jpg" alt="">
                    <div class="blog-img-caption"><b>our</b> Never Ending Journey</div>
                </div>-->
                <div class="blog-content">
                    <summary>
                        <h3>Conclusion</h3>
                        <!--<div class="blog-date">Meghalaya and Nagaland</div>-->
                    </summary>
                    <p>The journey of seeking Antyodaya based best practices was out of the largest canvas of the
                        country that ISRN began painting. Along the way we came across the most challenging of tasks to
                        reach out to the people residing in socially excluded communities. It was an incredible
                        experience to witness such strong and motivated efforts being put in by the Antyodaya Nayaks
                        which were none other than the citizens like any of us. They were inspiring in their very own
                        ways to take up the challenging role of being the strengthening force to the third pillar of the
                        society. Some models of upliftment were uniquely rare and one would be pleasantly taken aback
                        and think why we never looked into our own country for much needed stimulation to channelize it
                        into the much awaited transformation of the marginalised section of the society. <br>
                        ISRN with all this treasure of knowledge of diverse project models of development strives to
                        spread it not simply across the nation, but the globe. While reflecting on this filled canvas of
                        yet another portrayal of the nation, a beautiful interpretation of what we are and what we do as
                        a nation came out. Something essential to share with larger communities of the world!
                        Additionally, it will serve as a mirror to all of us as citizens, showing us the extent to which
                        few of us are going, which is absolutely rewarding and refreshing to simply know and aspire.
                    </p>
               
                </div>


            </article>
        </div>

    </div>
</section>