//HEADINGS
$mid-grey: #555353;
$charcoal: #373737;
$font-weight: 500;
$font-size: 14px;
$font-paragraph: "Source Sans Pro";
$font-heading: "Roboto";

.carousel-item {
    height: 70vh;
    overflow: hidden;

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}


.blog-post {


    h1,
    h2,
    h3,
    h4 {
        color: $charcoal;
    }

    h1 {
        font-size: 2em;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 30px 0;
    }

    h2 {
        font-size: 1.8em;
        font-weight: 700;
    }

    h3 {
        font-size: 1.6em;
        font-weight: 700;
    }

    h4 {
        font-size: 1.4em;
    }

    a {
        text-decoration: none;
    }



    p {
        line-height: 1.9em;
        margin: 2em 0;
        font-size: 1em;
        font-weight: 500;
    }
}

.blog-post {
    width: 80%;
    max-width: 1100px;
    background: white;
    margin: 20px auto 0;
    border: 1px solid #f4f4f4;
    box-shadow: 0 0 25px rgba(0, 0, 0, .05);
}

.blog-hero {
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    background: url('https://images.unsplash.com/photo-1450101215322-bf5cd27642fc?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 20% 70% no-repeat;
    background-size: cover;
    position: relative;
}


summary {
    margin-top: 20px;
    display: inline-block;
}

summary h3 {
    width: 100%;
    font-size: 2.5em;
    color: #555;
    font-weight: 500;
}

summary .blog-date {
    width: 100%;
    font-size: 15px;
    padding-left: 2px;
    color: #909090;
}

article {

    padding-bottom: 50px;

}

.blog-content {
    width: 55%;
    margin: auto;
}

.blog-img {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 50px auto 60px;

    //padding-bottom: 35%;
    img {
        height: auto;
        width: 100%;
    }
}

.blog-img-caption {
    position: absolute;
    bottom: -30px;
    font-size: .9em;
    color: #888;
    left: 4%;
}

b {
    font-weight: bold;
}

@media (min-width:601px) and (max-width:1000px) {
    .blog-post {
        width: 90%;
    }

    .blog-content {
        width: 75%;
    }

    .blog-hero {
        padding-bottom: 35%;
    }
}




@media (max-width:600px) {
    .blog-post {
        font-size: .9em;
        width: 90%;
    }

    .blog-content {
        width: 80%;
    }

    .blog-img {
        width: 90%;
        padding-bottom: 50%;
    }

    .blog-hero {
        padding-bottom: 60%;
    }
}


.vasudev {
    width: 100%;
    height: auto;
    clip-path: polygon(87.71% 98%, 100% 89.71%, 100% 0%, 70.71% 0%, 29.29% 0%, 0% 0%, 0% 92.46%, 29.29% 86.09%);
}

.twoPics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    img {
        width: 700px;
        height: auto;
        border-radius: 10px;
    }
}

.coordinators{
    width: 100%;
    height: auto;
}

.coordinators::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    width: 100%;
    height: 4em;
}