<section class="hero-wrap hero-wrap-2" style="background-image: url({{BannerUrl}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>C20 SEWA<i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">C20 SEWA</h1>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section" id="about-section" style="padding-bottom: 0 ;" id="whatisG20">
    <div class="" style="margin: 0 20px;">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100"
                    style="background-image: url(../../../assets/images/C20\ Pics/g20\ pic.jpg);">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center" >
                    <div class="col-md-12 heading-section">
                        <span class="subheading">C20 WORKING GROUP</span>
                        <h2 class="mb-4"> Sewa - Sense of Service, Philanthropy and Volunteerism</h2>
                        <div class="d-flex about">
                            <h3>What is G20?</h3>
                        </div>
                        <p>Group of 20 (G20), is an international body created in 1999 that provides a forum for
                            Strategic
                            Economic communication between industrialized and developing countries.
                            The G20 originated as a response to the economic rises of the late 1990s. The G20 initially
                            focused largely on broad macroeconomic issues, but it has since expanded its agenda to
                            inter-alia including trade, climate change, sustainable development, health, agriculture,
                            energy, environment, climate change, and anti-corruption. </p>

                    </div>
                </div>
            </div>
        </div>
        <p class="heading-section" style="margin-top: 20px;">
            India, will embark on the G20 Presidency for the first time since the body's inception. This
            occasion falls in line with the country celebrating its 75th year of independence.This
            Presidency brings forth an opportunity for our country to showcase its leadership abilities at
            the global stage. The future 25-year period leading to the centenary celebration of its
            independence, promises a futuristic, prosperous, inclusive, and developed society, distinguished
            by a humancentric approach at its core.
            <br>
            As part of the India's G20 presidency, there are Engagement Groups which bring together Civil societies,
            Parliamentarians, Think tanks, Women, Youth, Labor, Businesses and Researchers
            of the G20 countries aiming to discuss and present their views on the objectives of the G20 Summit and
            deliver prospective policy packs.
            <br><br>
            A nation deeply committed to Democracy and Multilateralism, India's G20 Presidency is a watershed moment in
            her history as it seeks to play an important role by finding pragmatic global solutions for the wellbeing of
            all, and in doing so, manifest the true spirit of:
        </p>
        <!--<h2 class="mb-4"> “वसुधैव कुटुम्बकम” ONE EARTH* ONE FAMILY* ONE FUTURE</h2>-->
    </div>
</section>

<img class="vasudev" src="../../../assets//images/C20 Pics/Vasudev Kutumbkam.png" alt="Vasudev Kutumbkam">


<section class="ftco-section" id="about-section" style="margin-top: 0; padding: 0;" id="workinggroups"> 
    <div class="" style="margin: 0 20px;">
        <div class="row">
            <div class="col-md-6 py-5 pl-md-5">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section">
                        <span class="subheading">Working Groups </span>
                        <h2 class="mb-4"> of Civil20</h2>
                        <!--<div class="d-flex about">
                            <h3>What is G20?</h3>
                        </div>-->
                        <p>The Civil20 (C20) Engagement Group was launched as an official G20 Engagement Group in 2013.
                            The Engagement Groups are independent collectives that are led by organizations from the
                            host country. They work with other organizations from G20 countries to develop policy
                            recommendations that are formally submitted to G20 leaders for consideration.
                            <br>
                            <br>
                            The C20 is an open community, channelling the voice of civil society around the world into
                            the G20 process. C20 provides a platform for Civil Society Organizations (CSOs) around the
                            world to bring forth a non-government and non-business voice to G20.
                            <br>
                            <br>
                            C20 India 2023 comprises of 14 working groups, with each focusing on different objectives.
                            These working groups are conducting various conferences and outreach programs across the
                            nation from 11th March to 31st July 2023.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100" 
                    style="background-image: url(../../../assets/images/C20\ Pics/sewa.png); background-size: contain;">
                </div>
            </div>

        </div>

    </div>
</section>

<section class="ftco-section" id="about-section" id="guidingPrinciples">
    <div class="" style="margin: 0 20px;">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100"
                    style="background-image: url(../../../assets/images/C20\ Pics/C20\ pic2.jpg);">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12 heading-section">
                        <span class="subheading">Guiding</span>
                        <h2 class="mb-4">Principle</h2>
                        <p>Guided by the principle of Vasudhaiva Kutumbakam or "world is one family", the C20 India 2023
                            logo: flame of hope, self-motivation, and selfless service and its theme #YouAreTheLight
                            calls
                            for collective effort. The civil society culture is shaped by illustrious figures who have
                            provided solutions to social problem and this tradition is continued through self-motivated
                            efforts to address social challenges. Joining together, members of civil society can make
                            their
                            own paths and find solutions through volunteerism.</p>

                    </div>
                </div>
            </div>
        </div>
        <ul class="heading-section" style="margin-top: 20px;" id="objectives">
            <h2 style="margin-top: 30px;" class="mb-4">OBJECTIVES OF C20</h2>

            <li>The C20 aims to address global issues and advocate for policy changes that align with their
                values.
            </li>
            <li>Formation of the C20 Policy Pack to be done through a transparent, inclusive, and
                participatory process that encourages collaboration.
            </li>
            <li>Promoting autonomous decision-making authority to C20 member organizations, free from any
                undue influence by non-civil society actors.
            </li>
            <li>Establish community-driven change as a model of development for sustainability, imagination,
                and regeneration. Explore models of bottom-up change, with a specific focus on unique
                elements, and local culture.
            </li>
            <li>Identify existing inequalities and promote the forms of equality by urging G20 governments
                to address human rights violations and empower women and men at both the country and global
                level.
            </li>
            <li>Promote greater and more diverse participation of civil society actors and marginalized
                groups through cross-country collaboration, while rejecting all forms of discrimination.
            </li>
            <li>Reflect the diverse perspectives and experiences of CSOs on topics including those outside
                the current G20 agenda, by building on previous processes and ensuring global representation
                and inclusion in all discussions.
            </li>
        </ul>
        <ul class="heading-section" style="margin-top: 20px;">
            <h2 style="margin-top: 20px;" class="mb-4">OUTCOMES</h2>

            <li>Information of CSOs working on all the themes in India and the G20 Nations.</li>
            <li>Policy pack that provides inputs on ways and means through which the civil societies play a
                role in global policy formulation.</li>
            <li>Promoting and encouraging innovative ways of livelihood and employment through the
                integration of civil societies.
            </li>
            <li>More engagement from Civil Societies in India and G20 Nations on integration.</li>
        </ul>
    </div>
</section>

<div id="carouselExampleAutoplaying" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/C20 Pics/slide1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" *ngFor="let item of slider">
            <img [src]="item.PicLink" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<section class="ftco-section" id="about-section" id="sewa">
    <div class="" style="margin: 0 20px;">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100"
                    style="background-image: url(../../../assets/images/C20\ Pics/C20\ pic3.jpg);">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12 heading-section">
                        <span class="subheading">Sewa</span>
                        <h2 class="mb-4">Sense of Service, Philanthropy and Volunteerism</h2>
                        <p>Sewa is one of the thematic working groups of Civil20. Sewa is a Sanskrit word for service,
                            primarily meaning selfless contribution to something that goes beyond the idea of doing
                            things
                            for one’s personal interest or gain. One of the oldest references to ‘Sewa’ is in the form
                            of
                            the shloka 'Sewa' Parmo Dharma implies ‘service to humanity is the highest religion’. This
                            is
                            considered one of the highest human values for the entire humanity. Service is one of the
                            acts
                            of sincere, caring and expert help; it can be physical, emotional, educational, professional
                            and
                            coping skills, cultural, civic, structural, recreational, personal assistance etc. when
                            someone
                            does something for others. Human services are all about helping people ind stability. They
                            can
                            include everything from providing basic needs like food and shelter to offering guidance,
                            counseling and substance abuse treatment with the goal of promoting self-sufficiency and
                            happiness in people’s lives. Any kind of social service seems like it could fit the
                            definition
                            of human services. Services suggest working on something for the well-being of others.</p>

                    </div>
                </div>
            </div>
        </div>
        <ul class="heading-section" style="margin-top: 20px;" id="sewaobjectives">
            <h2 style="margin-top: 30px;" class="mb-4">Objectives of Sewa WG</h2>

            <li>Establish SEWA as a philosophical foundation for civil society groups globally, in the form
                of frameworks, structures, and systems. Trace the relevance of SEWA across the geography and
                culture of India and comparative philosophies globally.
            </li>
            <li>SEWA is the blueprint for achieving Developmental Goals for the betterment of society and a
                sustainable future for all.</li>
            <li>Explore Volunteerism as a core element of the way of life and a tool for community work with
                dialogue and discussions on models and frameworks from across the world.
            </li>
            <li>
                Establish community-driven change as a model of development for sustainability, imagination,
                and regeneration. Explore models of bottom-up change, with a specific focus on unique
                elements, and local culture
            </li>
            <li>Explore philanthropy's past, present, and future with examples and models from across the
                world. Explore emerging concepts, channels, and strategies in fundraising while fostering
                global dialogues and connections
            </li>
            <li>Encouraging youth / Children to engage in Social Service can be a great way to promote
                community involvement and help them develop valuable skills.</li>
        </ul>

    </div>
</section>

<section class="ftco-section" id="about-section" style="margin-top: 0; padding: 0;" id="Attendees">
    <div class="" style="margin: 0 20px;">
        <div class="row">
            <div class="col-md-6 py-5 pl-md-5">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section">
                        <span class="subheading">Attendees & Reach</span>
                        <h2 class="mb-4"> of Sewa Summit</h2>
                        <!--<div class="d-flex about">
                            <h3>What is G20?</h3>
                        </div>-->
                        <p>The G20 is a multilateral cooperation forum comprising 19 countries and the European Union
                            (EU),
                            which includes middle to high-income developing and developed countries. Representatives
                            from
                            G20 nations are expected to participate in all events as speakers, delegates, hosts,
                            coordinators, etc. In India, we expect civil society organizations from each state to
                            participate across a wide spectrum of activities planned.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100"
                    style="background-image: url(../../../assets/images/C20\ Pics/C20\ pic4.jpg);">
                </div>
            </div>

        </div>

    </div>
</section>

<!--<section class="twoPics">
    <img class="col" src="../../../assets//images/C20 Pics/attendies2.png" alt="Attendees">
    <div class="col heading-section" style="text-align: center; margin: auto;">
        <span class="subheading">Attendees & Reach of Sewa Summit</span>
        <h2 class="mb-4">Programmee Schedule </h2>
    </div>
    <img class="col" src="../../../assets//images/C20 Pics/attendies1.png" alt="Attendees">
</section>-->

<img style="width: 100%; height: auto;" src="../../../assets//images/C20 Pics/attendies1.png" alt="Vasudev Kutumbkam">
<img style="width: 100%; height: auto;" src="../../../assets//images/C20 Pics/attendies2.png" alt="Attendees" alt="Vasudev Kutumbkam">

<img class="coordinators" src="../../../assets/images/C20 Pics/national and international coordinators.png" alt="Vasudev Kutumbkam">

<!--

<section class="ftco-section bg-half-light" style="padding-top: 30px;">
    <div class="container">

        <div class="blog-post">
            <article>

                <div class="blog-content">

                    <summary>
                        <h4>C20 WORKING GROUP: Sewa - Sense of Service, Philanthropy and Volunteerism</h4>
                    </summary>
                    <summary>
                        <h4>What is G20?</h4>
                    </summary>

                    <div class="blog-img">
                        <img src="../../../assets/images/C20 Pics/g20 pic.jpg" alt="">
                    </div>
                    <p>Group of 20 (G20), is an international body created in 1999 that provides a forum for Strategic
                        Economic communication between industrialized and developing countries.
                        The G20 originated as a response to the economic rises of the late 1990s. The G20 initially
                        focused largely on broad macroeconomic issues, but it has since expanded its agenda to
                        inter-alia including trade, climate change, sustainable development, health, agriculture,
                        energy,
                        environment, climate change, and anti-corruption. <br>
                        India, will embark on the G20 Presidency for the first time since the body's inception. This
                        occasion falls in line with the country celebrating its 75th year of independence.This
                        Presidency brings forth an opportunity for our country to showcase its leadership abilities at
                        the global stage. The future 25-year period leading to the centenary celebration of its
                        independence, promises a futuristic, prosperous, inclusive, and developed society, distinguished
                        by a humancentric approach at its core.
                        <br>
                        As part of the India's G20 presidency, there are Engagement Groups which bring together Civil
                        societies, Parliamentarians, Think tanks, Women, Youth, Labor, Businesses and Researchers
                        of the G20 countries aiming to discuss and present their views on the objectives of the G20
                        Summit and deliver prospective policy packs.
                        <br><br>
                        A nation deeply committed to Democracy and Multilateralism, India's G20 Presidency is a
                        watershed moment in her history as it seeks to play an important role by finding pragmatic
                        global solutions for the wellbeing of all, and in doing so, manifest the true spirit of:

                        <summary>
                            <h5>“वसुधैव कुटुम्बकम” ONE EARTH* ONE FAMILY* ONE FUTURE</h5>
                        </summary>

                    </p>

                    <summary>
                        <h4>Working Groups of Civil20</h4>
                    </summary>
                </div>
                <div class="blog-content">
                    <div class="blog-img">
                        <img src="../../../assets/images/C20 Pics/C20 pic1.jpg" alt="">
                    </div>
                    <p>The Civil20 (C20) Engagement Group was launched as an official G20 Engagement Group in 2013.The
                        Engagement Groups are independent collectives that are led by organizations from the host
                        country. They work with other organizations from G20 countries to develop policy recommendations
                        that are formally submitted to G20 leaders for consideration.The C20 is an open community,
                        channeling the voice of civil society around the world into
                        the G20 process. C20 provides a platform for Civil Society Organizations (CSOs) around the world
                        to bring forth a non-government and non-business voice to G20.C20 India 2023 comprises of 14
                        working groups, with each focusing on different objectives. These working groups are conducting
                        various conferences and outreach programs across the nation from 11th March to 31st July 2023.

                    </p>

                    <summary>
                        <h4>Guiding Principle</h4>
                    </summary>
                    <div class="blog-img">
                        <img src="../../../assets/images/C20 Pics/C20 pic2.jpg" alt="">
                    </div>
                    <p>Guided by the principle of Vasudhaiva Kutumbakam or "world is one family", the C20 India 2023
                        logo: flame of hope, self-motivation, and selfless service and its theme #YouAreTheLight calls
                        for collective effort. The civil society culture is shaped by illustrious figures who have
                        provided solutions to social problem and this tradition is continued through self-motivated
                        efforts to address social challenges. Joining together, members of civil society can make their
                        own paths and find solutions through volunteerism.
                    </p>
                    <summary>
                        <h4>OBJECTIVES OF C20</h4>
                    </summary>
                    <ul>
                        <li>The C20 aims to address global issues and advocate for policy changes that align with their
                            values.
                        </li>
                        <li>Formation of the C20 Policy Pack to be done through a transparent, inclusive, and
                            participatory process that encourages collaboration.
                        </li>
                        <li>Promoting autonomous decision-making authority to C20 member organizations, free from any
                            undue influence by non-civil society actors.
                        </li>
                        <li>Establish community-driven change as a model of development for sustainability, imagination,
                            and regeneration. Explore models of bottom-up change, with a specific focus on unique
                            elements, and local culture.
                        </li>
                        <li>Identify existing inequalities and promote the forms of equality by urging G20 governments
                            to address human rights violations and empower women and men at both the country and global
                            level.
                        </li>
                        <li>Promote greater and more diverse participation of civil society actors and marginalized
                            groups through cross-country collaboration, while rejecting all forms of discrimination.
                        </li>
                        <li>Reflect the diverse perspectives and experiences of CSOs on topics including those outside
                            the current G20 agenda, by building on previous processes and ensuring global representation
                            and inclusion in all discussions.
                        </li>
                    </ul>

                    <summary>
                        <h4>OUTCOMES:</h4>
                    </summary>

                    <ul>
                        <li>Information of CSOs working on all the themes in India and the G20 Nations.</li>
                        <li>Policy pack that provides inputs on ways and means through which the civil societies play a
                            role in global policy formulation.</li>
                        <li>Promoting and encouraging innovative ways of livelihood and employment through the
                            integration of civil societies.
                        </li>
                        <li>More engagement from Civil Societies in India and G20 Nations on integration.</li>
                    </ul>

                </div>

            </article>

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/images/C20 Pics/slide1.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" *ngFor="let item of slider">
                        <img [src]="item.PicLink" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <article>

                <div class="blog-content">
                    <summary>
                        <h4>Sewa : Sense of Service, Philanthropy and Volunteerism</h4>
                    </summary>
                </div>
                <div class="blog-content">

                    <div class="blog-img">
                        <img src="../../../assets/images/C20 Pics/C20 pic3.jpg" alt="">
                    </div>

                    <p>Sewa is one of the thematic working groups of Civil20. Sewa is a Sanskrit word for service,
                        primarily meaning selfless contribution to something that goes beyond the idea of doing things
                        for one’s personal interest or gain. One of the oldest references to ‘Sewa’ is in the form of
                        the shloka 'Sewa' Parmo Dharma implies ‘service to humanity is the highest religion’. This is
                        considered one of the highest human values for the entire humanity. Service is one of the acts
                        of sincere, caring and expert help; it can be physical, emotional, educational, professional and
                        coping skills, cultural, civic, structural, recreational, personal assistance etc. when someone
                        does something for others. Human services are all about helping people ind stability. They can
                        include everything from providing basic needs like food and shelter to offering guidance,
                        counseling and substance abuse treatment with the goal of promoting self-sufficiency and
                        happiness in people’s lives. Any kind of social service seems like it could fit the definition
                        of human services. Services suggest working on something for the well-being of others.
                    </p>

                    <summary>
                        <h4>Objectives of Sewa WG</h4>
                    </summary>

                    <ul>
                        <li>Establish SEWA as a philosophical foundation for civil society groups globally, in the form
                            of frameworks, structures, and systems. Trace the relevance of SEWA across the geography and
                            culture of India and comparative philosophies globally.
                        </li>
                        <li>SEWA is the blueprint for achieving Developmental Goals for the betterment of society and a
                            sustainable future for all.</li>
                        <li>Explore Volunteerism as a core element of the way of life and a tool for community work with
                            dialogue and discussions on models and frameworks from across the world.
                        </li>
                        <li>
                            Establish community-driven change as a model of development for sustainability, imagination,
                            and regeneration. Explore models of bottom-up change, with a specific focus on unique
                            elements, and local culture
                        </li>
                        <li>Explore philanthropy's past, present, and future with examples and models from across the
                            world. Explore emerging concepts, channels, and strategies in fundraising while fostering
                            global dialogues and connections
                        </li>
                        <li>Encouraging youth / Children to engage in Social Service can be a great way to promote
                            community involvement and help them develop valuable skills.</li>
                    </ul>


                    <summary>
                        <h4>Attendees & Reach of Sewa Summit</h4>
                    </summary>

                    <div class="blog-img">
                        <img src="../../../assets/images/C20 Pics/C20 pic4.jpg" alt="">
                    </div>

                    <p>The G20 is a multilateral cooperation forum comprising 19 countries and the European Union (EU),
                        which includes middle to high-income developing and developed countries. Representatives from
                        G20 nations are expected to participate in all events as speakers, delegates, hosts,
                        coordinators, etc. In India, we expect civil society organizations from each state to
                        participate across a wide spectrum of activities planned. </p>

                </div>



            </article>



        </div>
    </div>
</section>-->