<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/education2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>What We Do <i class="fa fa-chevron-right"></i></span>
                    <span> Education <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Education</h1>
            </div>
        </div>
    </div>
</section>

<section class="text-center about about2">
    <h1>Uttam School</h1>
    <div class="container">
        <div class="row">
            <p>In India, many children drop out of school due to a lack of adequate basic facilities. It is at this
                juncture, that ISRN rolled out its ambitious concept of <b>“Uttam School”</b> which has so far been
                backed by
                various CSRs and Government funds.
                <br>
            </p>
            <hr>
            <p>
                The "Uttam School" model, which has been adopted by a certain number of government schools and
                charitable institutions in specific areas, focuses on children from underprivileged societies and seeks
                to improve education quality through innovative teaching and learning techniques as well as other
                strategic interventions that aspire to instil in students behavioural changes that are conducive to
                sensitive development and a sense of responsibility.
                <br>
            </p>
            <hr>
            <p>
                ISRN has been working in the education domain for more than 8 years and with the initiation of its
                flagship program, the “Uttam School” model has already touched the milestone mark of 50+ schools,
                already transformed around 45+ schools, trained 500+ teachers, and reached 12,000+ students in the
                underserved pockets of Delhi, Uttarakhand, Himachal Pradesh, Uttar Pradesh, Madhya Pradesh, Haryana.
                <br>
            </p>
            <hr>
            <p>
                <b>The model focuses on the approach of education completion through smart learning techniques,
                    sanitation
                    and hygiene, clean energy, and clean drinking water.</b> Adhering to the existing curriculum in
                these
                schools, it brings infrastructural changes in terms of introducing student-friendly learning tools,
                improving health and hygiene, improving the external environment, imparting training to teachers, other
                significant concepts of <b>“Child Mirror”</b> and <b>“Grievance Committee”</b> which helps in addressing
                various
                issues faced by children and have been successful in instilling confidence in them.
                <br>
            </p>
            <hr>
            <p>
                The innovative concept and approach of the Uttam school have proven to be a need of the hour and have
                been especially helpful in the recent pandemic when schools were closed for a considerable amount of
                time. The digital mode of teaching has made it possible for teachers to carry out classes smoothly for
                educators and learners who were already trained to handle digital appliances. ISRN strives to contribute
                more towards a sustainable approach to education and has been working strenuously to expand the concept
                of Uttam School across states and cities.
                <br>
            </p>
            <hr>
        </div>
        <!---lg-3 col-sm-6 col-ex-12-->
    </div>
</section>


<section class="text-center about">
    <h1>NANDGHAR</h1>
    <div class="container">
        <div class="row">
            <p>
                A day away from the urban grounds and we step closer to the hearts of the people of rural India. ISRN
                and Vedanta Foundation have been working together to transform Anganwadis into child-friendly, effective
                learning facilities called NandGhars, with a focus on young children's health and education. Through a
                range of programs and initiatives, a positive impact was made on the lives of individuals, families and
                the community as a whole. ISRN in the last one year has been supporting a total of 275 Nandghar centers
                in UP and Rajasthan to a total of 12,030 beneficiaries by providing quality education to children and
                expecting mothers from disadvantaged backgrounds and through these efforts, we hope to bridge the
                education gap and provide equal opportunities to all children, regardless of their social and economic
                background.
                <br>
            </p>
            <hr>
            <p>
                Nand Ghar is committed to the Prime Minister's national vision of eradicating child malnutrition,
                providing education, and healthcare, and empowering women with skill development.
                The project majorly focuses on four Verticals: Nutrition, Pre-School Education, Health Care, and Skill
                Development.
                <br>
            </p>
            <hr>
            <p>
                The project is working towards promoting health-seeking behaviour and strengthening preventive and
                curative service linkages in the community. Many health camps have been organised to reach out to people
                and address their health concerns as well as providing general health check-ups, blood pressure checks,
                and screening services can help identify any health issues early on and prevent them from becoming more
                serious. Moreover, raising awareness about gynaecological health and providing information about
                preventive measures can help women take control of their health and well-being.
                <br>
            </p>
            <hr>
            <!--<div class="col about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-cutlery"></span>
                <p class="lead">Nutrition</p>
            </div>
            <div class="col about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-book"></span>
                <p class="lead">Pre School Education</p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-heartbeat"></span>
                <p class="lead">Health Care</p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-level-up"></span>
                <p class="lead">Skill Development</p>
            </div>-->
        </div>
        <!---lg-3 col-sm-6 col-ex-12-->
    </div>
</section>