<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/Education.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>What We Do <i class="fa fa-chevron-right"></i></span>
                    <span> Education <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Education</h1>
            </div>
        </div>
    </div>
</section>



<section class="text-center about">
    <h1>Education</h1>
    <div class="container">
        <div class="row">
            <p>ISRN is implementing the Vedanta Group for the Anil Agarwal Foundation-supported project pertaining  to the
                 transformation of Anganwadi Centres into Nand Ghars. Operations & Maintenance of 275 Nand  Ghars in Uttar Pradesh
                  and Rajasthan. We have also shared a proposal for 800 centres in Rajasthan for this FY 22-23. 
                <br>
                Nand Ghar is committed to the Prime Minister's national vision of eradicating child malnutrition,  providing education,
                 and healthcare, and empowering women with skill development.
                 <br>
                 <b>The project majorly focuses on four Verticals:</b>
            </p>
            <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-cutlery"></span>
                <p class="lead">Nutrition</p>
            </div>
            <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-book"></span>
                <!--<h2>Section 2 </h2>-->
                <p class="lead">Pre School Education</p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-heartbeat"></span>
                <p class="lead">Health Care</p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-level-up"></span>
                <p class="lead">Skill Development</p>
            </div>
        </div>

    </div>
</section>

