<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/Modi\ ji.jpeg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span>Who We Are <i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-3 bread">Who We Are</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100" style="background-image: url(../../../assets/images/about.jpg);">
                </div>
            </div>
            <div class="col-md-6 py-5 pl-md-5">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section">
                        <span class="subheading">About</span>
                        <h2 class="mb-4"> Indian Social Responsibility Network</h2>
                        <!--<div class="d-flex about">
                            <h3>We're in this business since 1975 and We provide the best insdustrial services</h3>
                        </div>-->
                        <p>The Indian Social Responsibility Network (ISRN) is a Not-For-Profit multi-dimensional
                            facilitation network,
                            established in July 2014, in the domain of Sustainable Development in India. With the goal
                            of directing
                            all essential authorities to provide services to the inaccessible regions of our society, we
                            have
                            established a results-oriented platform with specialists from all disciplines, sectors, and
                            backgrounds.
                            This shared platform is designed to bring together corporate, grassroots, and governmental
                            organisations
                            to develop a network that would ensure inclusive and sustainable growth and the greatest
                            possible
                            efficiency in reaching all elements of the community. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section VisionMission" id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch vision">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section">
                        <h2 class="mb-4"> Vision</h2>
                        <!--<div class="d-flex about">
                            <h3>We're in this business since 1975 and We provide the best insdustrial services</h3>
                        </div>-->
                        <p>To create a sustainable network of Govt. institutions, Corporates, and Nonprofits in order to
                            achieve
                            the holistic development of the country.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mission">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section">
                        <h2 class="mb-4"> Mission</h2>
                        <!--<div class="d-flex about">
                            <h3>We're in this business since 1975 and We provide the best insdustrial services</h3>
                        </div>-->
                        <p>Indian Social Responsibility Network would develop a platform for the integrated development
                            of the
                            unreachable with a multi-stakeholder approach to achieve a pathway for Sustainable
                            Development Goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="text-center about">
    <h1>Goals</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-group"></span>
                <p class="lead">To create a network of Govt. institutions, CSR bodies, and grassroots organisations for
                    serving the
                    underserved
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-heartbeat"></span>
                <!--<h2>Section 2 </h2>-->
                <p class="lead">To work on different thematic areas of Education, Health, and Agriculture </p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-level-up"></span>
                <p class="lead">To enhance the integrated capacity for the development of the grassroots organisations
                </p>
            </div>

        </div>

    </div>
</section>

<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Governing</span>
                <h2 class="mb-4">Board</h2>
            </div>
        </div>
        <div class="row">
            
            <div class="people">

                <div class="wrap animate pop">
                    <div class="overlay">
                        <div class="overlay-content animate slide-left delay-2">
                            <h1 class="animate slide-left pop delay-4">Chairman</h1>
                            <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Anil Khaitan - Industrialist & Management expert</p>
                        </div>
                        <div class="image-content animate slide delay-5"><img src="../../../assets/images/Anil Khaitan.jpg" alt=""></div>
                        <div class="dots animate">
                            <div class="dot animate slide-up delay-6"></div>
                            <div class="dot animate slide-up delay-7"></div>
                            <div class="dot animate slide-up delay-8"></div>
                        </div>
                    </div>
                    <div class="text">
                        <p>After attending Vincent High School in Mussoorie and completing his B.Com degree, Mr. Anil Khaitan, 
                            Chairman of SNK Corp., joined his family's businesses in 1976. In 1981, he completed his MBA from 
                            the International Management Institute in Geneva.  Mr. Khaitan served as the former president of the 
                            Ph.D. Chamber of Commerce and Industry. He has established himself in the copper and steel, paper, 
                            and jute industries, among others. In addition to his extensive experience in several industries, 
                            he is a member of numerous National and International organisations, including the Advisory Council 
                            of the Indian Institute of Finance, AIMA, and the International Chamber of Commerce India.
                        </p>
                        
                    </div>
                </div>
            
            
                
            
            </div>
            
            
        </div>
    </div>
</section>

