<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/whatwedobg.JPG'); background-size: cover;"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>What We Do <i class="fa fa-chevron-right"></i></span>
                    <span> Advocacy <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Advocacy</h1>
            </div>
        </div>
    </div>
</section>


<div class="container">

    <!--<h1 class="advocacy_head">Advocacy</h1>

    <p>ISRN has organised a number of programs that require participants to learn about concerned government policies and laws along 
        with applied policy and management analysis. In a globalised world that is constantly evolving, we need citizens in all 
        sectors namely government organisations, private companies and those working at the ground level who understand the issues 
        in sustainability, and have the practical skills and knowledge pertaining to the existing and upcoming policies to deal 
        with issues effectively.

        A major aspect of advocacy programs is ISRN's disposition to engage directly with stakeholders in practical efforts to improve 
        the scenario on the ground. Our efforts involve introducing innovative approaches to address real-world problems.
        </p>

        <h3 class="advocacy_head2">Dialogue on River Interlinking: National Perspective Plan</h3>-->

    <div id="products" class="row view-group">


        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="../../../assets/images/about-3.jpg" alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Dialogue on River Interlinking: National Perspective Plan</h4>
                    <p class="group inner list-group-item-text">
                        ISRN along with Divine International and Aranya ECO- NGO organised a dialogue on River
                        Interlinking
                        in the backdrop of an ambitious mega scale project of Government of India that aims to link
                        Indian
                        rivers by a network of reservoirs and canals.
                    </p>
                    <div class="row">
                        <div class="d-flex video-image align-items-center mt-md-4">
                            <a target="_blank"
                                href="https://www.youtube.com/watch?v=msWOWuw-Eo8&ab_channel=IndianSocialResponsibilityNetwork"
                                class="video img d-flex align-items-center justify-content-center" style="background-image: radial-gradient(
                                        rgba(0, 0, 0, 0.144),
                                        rgba(0, 0, 0, 0.348)),url(../../../assets/images/youtube.png);">
                                <span class="fa fa-play-circle"></span>
                            </a>
                            <h4 class="ml-4">Watch video Here!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="../../../assets/images/about-3.jpg" alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Orientation Programme on CSR for Voluntary Organizations</h4>
                    <p class="group inner list-group-item-text">
                        The program enabled participants through a deeper understanding of strategies for
                        ‘result-oriented CSR’
                        such as measures to plan and implement CSR efficiently , clarity on the legal compliance of the
                        Companies Act,2013 and NGO-corporate linkage.
                    </p>
                    <div class="row">
                        <div class="d-flex video-image align-items-center mt-md-4">
                            <a target="_blank" href="https://www.youtube.com/watch?v=TQX1yLKI1t4"
                                class="video img d-flex align-items-center justify-content-center" style="background-image: radial-gradient(
                                        rgba(0, 0, 0, 0.144),
                                        rgba(0, 0, 0, 0.348)),url(../../../assets/images/youtube.png);">
                                <span class="fa fa-play-circle"></span>
                            </a>
                            <h4 class="ml-4">Watch video Here!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="../../../assets/images/about-3.jpg" alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Policy Dialogue on Digital Health Governance</h4>
                    <p class="group inner list-group-item-text">
                        A policy dialogue on Digital Health Governance was organised by Indian Social Responsibility
                        Network
                        in association with Manipal Academy of Higher Education on February 16, 2018 at the New
                        Maharashtra
                        Sadan in New Delhi. The dialogue was planned with the aim to solve challenges and discuss ways
                        to
                        adopt good governance in healthcare.
                    </p>
                    <div class="row">
                        <div class="d-flex video-image align-items-center mt-md-4">
                            <a target="_blank" href="https://www.youtube.com/watch?v=DWWIoN4eI9o"
                                class="video img d-flex align-items-center justify-content-center" style="background-image: radial-gradient(
                                        rgba(0, 0, 0, 0.144),
                                        rgba(0, 0, 0, 0.348)),url(../../../assets/images/youtube.png);">
                                <span class="fa fa-play-circle"></span>
                            </a>
                            <h4 class="ml-4">Watch video Here!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="../../../assets/images/about-3.jpg" alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Workshop on Reconciliation of Non-Violent Communication for Good Governance</h4>
                    <p class="group inner list-group-item-text">
                        Indian social responsibility network along with G.B. Pant Social Science Institute & Gandhi
                        Smriti
                        and Darshan Samiti, organised a two day workshop addressing issues pertaining to the education
                        sector through the perspective of Gandhian Philosophy of Non-Violence.
                    </p>
                    <div class="row">
                        <div class="d-flex video-image align-items-center mt-md-4">
                            <a target="_blank" href="https://www.youtube.com/watch?v=lJkBZ02bLpM"
                                class="video img d-flex align-items-center justify-content-center" style="background-image: radial-gradient(
                                        rgba(0, 0, 0, 0.144),
                                        rgba(0, 0, 0, 0.348)),url(../../../assets/images/youtube.png);">
                                <span class="fa fa-play-circle"></span>
                            </a>
                            <h4 class="ml-4">Watch video Here!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="../../../assets/images/about-3.jpg" alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Orientation Program on Village Transformation through Saansad Adarsh Gram Yojana (SAGY)</h4>
                    <p class="group inner list-group-item-text">
                        The orientation program was conducted for representatives of Members of parliament enabling them
                        to improve their understanding of the program, tools for implementation & monitoring to achieve
                        its goals, and to connect with the corporate to contribute to SAGY.
                    </p>
                    <div class="row">
                        <div class="d-flex video-image align-items-center mt-md-4">
                            <a target="_blank" href="https://www.youtube.com/watch?v=dc20-yT5LUU"
                                class="video img d-flex align-items-center justify-content-center" style="background-image: radial-gradient(
                                        rgba(0, 0, 0, 0.144),
                                        rgba(0, 0, 0, 0.348)),url(../../../assets/images/youtube.png);">
                                <span class="fa fa-play-circle"></span>
                            </a>
                            <h4 class="ml-4">Watch video Here!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>