<section class="hero-wrap hero-wrap-2" style="background-image: url({{BannerUrl}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Covid 19 <i class="fa fa-chevron-right"></i></span>
                    <span> M-RITE Project! <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">COVID-19 Vaccination M-RITE Project!</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" style="padding-top: 30px;">
    <div class="container">

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
            <article>

                <div class="blog-content">
                    <!--<summary>
                        <h3>COVID-19 Vaccination M-RITE Project!</h3>
                        <div class="blog-date">Meghalaya and Nagaland</div>
                    </summary>
                    <summary>
                        <h4>Background on COVID19 vaccination</h4>
                    </summary>-->
                    <p>The extensive work was carried out by the Indian Social Responsibility Network team in
                        partnership with the John Snow India Private Limited (JSIPL) on the project supported by the
                        United States Agency for International Development (USAID) to amplify the COVID-19 vaccination
                        coverage in Nagaland and Meghalaya as part of the MOMENTUM Routine Immunization Transformation
                        and Equity Project. The project demonstrated the importance of multi-stakeholder collaboration,
                        evidence-based decision-making and effective communication strategies. As a result of the
                        project, over 1.75+ lakh eligible beneficiaries were successfully vaccinated in Nagaland and
                        Meghalaya. The Project involved a multi-disciplinary team that worked closely and collaborated
                        with multiple departments, local health authorities, community leaders, volunteers and other
                        influential stakeholders to identify and prioritize high-risk groups for vaccination.
                        <br>
                        A robust communication and outreach strategy was developed to increase vaccine awareness, dispel
                        misinformation and build trust among hesitant communities. The public education and awareness
                        campaign strategy involved educating the community on the importance of vaccination, addressing
                        myths and misconceptions and encouraging vaccine uptake. The project reached out to vulnerable
                        groups and implemented outreach campaigns to increase vaccine uptake in hard-to-reach areas.
                    </p>
                </div>
                <div class="blog-img">
                    <img src="../../../assets/images/Initiatives pics/1.jpg" alt="">
                    <div class="blog-img-caption"><b>our</b> Never Ending Journey</div>
                </div>












            </article>
        </div>

    </div>

</section>