<section class="hero-wrap hero-wrap-2" style="background-image: url({{BannerUrl}});"
     >
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Get Involved <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Get Involved</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-half-light" style="padding-top: 30px;">
    <div class="container">

        <div class="blog-post"> 
            <!--<div class="blog-hero"></div>-->
            <article>

                <div class="blog-content">
                    <p>As an organisation, your work, whether on the field or behind the scenes, will support us in
                        making India a developed country. Any individual who would like to understand the development
                        sector and take a chance to learn and participate in our different initiatives could definitely
                        fill out the form.
                    </p>

                    <summary  id="internship">
                        <h4>Internships</h4>
                    </summary>
                </div>
                <div class="blog-content">

                    <p><b>Selected intern's day-to-day responsibilities include:</b> </p>
                    <ul>
                        <li>Implementing Corporate Social Responsibility (CSR) projects</li>
                        <li>Engaging in project planning</li>
                        <li>Performing primary and secondary research</li>
                        <li>Engaging in content development</li>
                    </ul>
                    <p><b>Who Can Apply:</b> </p>

                    <p>Only those candidates can apply who are available for full time (in-office) internship and are
                        available for the duration of 3 months. The candidate should have relevant skills and interests.
                        Women willing to start/restart their careers can also apply.
                    </p>

                    <p><b>Perks:</b> </p>

                    <p>Certificate, Letter of recommendation.</p>

                    <p><a class="btn btn-primary" href="">Apply Now</a></p>
                </div>

            </article>

            <article>

                <div class="blog-content" id="volunteer">
                    <summary>
                        <h4>Volunteering</h4>
                    </summary>
                </div>
                <div class="blog-content">

                    <p>Your volunteering experience will help you develop irreplaceable professional skills and build
                        your leadership capabilities. No matter who you are or what you do, we have a wide range of
                        volunteering options for you.
                        <br>
                        To know more about our volunteering opportunities with us, get in touch with us at <a href = "mailto: info@isrn.in">info@isrn.in</a>.
                    </p>

                    <p><a class="btn btn-primary" href="https://forms.gle/iYQUZQUoEyHEJ1xUA">Apply Now</a></p>

                    <p>Our concerned team member will be in touch with you soon.</p>
                </div>

            </article>

            <article>

                <div class="blog-content">
                    <summary>
                        <h4>Careers</h4>
                    </summary>
                </div>
                <div class="blog-content">

                    <p>Indian Social Responsibility Network always believes in the growth and flexibility of any
                        individual. We always welcome freshers and experienced candidates to join our versatile team.
                        We encourage you to apply for the relevant positions.
                        <br>
                        Since we are working on different thematic areas, such as Health, Education, and Agriculture, we
                        give every opportunity to explore and unfold their skills and talent.
                        <br>
                        We are looking for talented and self-driven individuals to help us deliver a long-term,
                        sustainable, and bold strategy aiming to reach the last mile across India. If you want to be
                        part of a concerted effort to be a part of the development and work towards making a significant
                        difference to people living in poverty, then please look through our vacancies below.

                    </p>

                    <p><b>Positions open right now:</b></p>
                    <ul>
                        <li>HR MANAGER</li>
                        <li>Program Officer</li>
                    </ul>

                    <p>If you think you might be suitable or know someone who is, please get in touch 
                        with us at <a href = "mailto: careers@isrn.in">careers@isrn.in</a> with your cover letter and portfolio </p>

                </div>

            </article>

        </div>
    </div>
</section>