<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/Initiative.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i
                                class="fa fa-chevron-right"></i></a></span> 
                                <span>Covid 19 <i
                            class="fa fa-chevron-right"></i></span>
                            <span> Initiatives <i
                                class="fa fa-chevron-right"></i></span>
                        </p>
                <h1 class="mb-3 bread">ISRN Initiatives</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" style="padding-top: 30px;">
    <div class="container">
        
        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
                <article>
                    
                    <div class="blog-content">
                        <summary>
                            <h3>COVID-19 Vaccination M-RITE Project!</h3>
                            <div class="blog-date">Meghalaya and Nagaland</div>
                        </summary>
                        <summary>
                            <h4>Background on COVID19 vaccination</h4>
                        </summary>
                        <p>COVID-19 vaccination program in India is one of the largest vaccination programs globally. Under the 
                            program a total of 1.89 billion vaccines have been administered across the country. With increase in 
                            vaccine uptake, the positivity rate has declined over the past few weeks. Around 62.3% people are fully 
                            vaccinated, 72.7% have received at least one dose and 2% have received booster doses. But with this the 
                            vaccination program has slowed down despite availability of doses. Major reasons identified are  relaxation 
                            in various restrictions imposed by the government, reduction in positive cases and lack of interest in 
                            targeted population vaccination. <br>
                            In the state of Nagaland, a total of 15.82 lakh doses were administered, including 2,444 children between 
                            12-14 years by 1st April 2022. As per a report of DHFW, 65% of eligible targeted population have received
                             first dose and 52% have received second dose. The project team has learned ground challenges and high 
                             reluctance due to religious beliefs amongst the population, there is huge population inflation as per 
                             the 2011 census and actual headcount available in the district. In the state of Meghalaya as per 
                             government dashboard, around 24 lakh doses have been administered including HCW, FLW and  eligible 
                             citizens. More than 62% of the eligible population have received the first dose and more than 41% have 
                             received the second dose. Both the states have geographical and social challenges in order to reach 
                             maximum vaccination coverage. One of the shared challenges amongst both the states districts are the 
                             number of reduced/non-functional COVID 19 vaccination centers. The below tables showcase the inactive 
                             CVC, which in turn resulted in vaccination sites unavailability for the targeted population and is a 
                             hurdle for vaccination coverage of the concerned district.
                        </p>
                    </div>
                    <div class="blog-img">
                        <img src="../../../assets/images/Initiatives pics/1.jpg" alt="">
                        <div class="blog-img-caption"><b>our</b> Never Ending Journey</div>
                    </div>
                    <div class="blog-content">
                        <p>Both the states had been doing fairly well in terms of vaccination coverage despite various pre-existing 
                            challenges like vaccine hesitancy, inaccessible geographies, myths and misinformation etc. Despite 
                            several attempts, few districts have been identified in both the states which are far behind in terms 
                            of vaccination coverage compared to state average. ISRN in collaboration with under the M-RITE project, 
                            has identified districts with lower vaccination rates. These districts have been further classified based 
                            into high and low priority districts based on the strength of interventions required in these districts. 
                            Based on the initial learning in a few districts, the team has identified various new districts in both 
                            the states where the vaccination program can be strengthened.</p>
                    </div>	


                    <div class="blog-img">
                        <img src="../../../assets/images/Initiatives pics/2.jpg" alt="">
                        <div class="blog-img-caption"><b>our</b> Never Ending Journey</div>
                    </div>

                    <div class="blog-content">
                        <summary>
                            <h4>Goals and Objectives of the proposal</h4>
                        </summary>
                        <p>To increase the demand, distribution and uptake of COVID 19 vaccination among all GoI
                            approved cohorts, particularly for the vulnerable and marginalized populations.
                        </p>

                        <summary>
                            <h4>Objective</h4>
                        </summary>
                        <ul>
                            <li>To support state and district Health departments in micro planning, and rapidly increasing 
                                vaccination programs to achieve maximum coverage.</li>
                                <li>To vaccinate all eligible unvaccinated beneficiaries in the allotted districts in the 
                                intervention areas.</li>
                                <li> To stimulate demand generation and community mobilization activities for COVID 19
                                vaccination uptake.</li>
                                <li> To ensure equitable distribution and focus on the last-mile reach of COVID-19 vaccination 
                                for all government approved cohorts, including high priority groups and left out targeted population</li>
                        </ul>

                    </div>
                    <div class="blog-img">
                        <img src="../../../assets/images/Initiatives pics/3.jpg" alt="">
                        <div class="blog-img-caption"><b>our</b> Never Ending Journey</div>
                    </div>
                    <div class="blog-content">
                        <summary>
                            <h4>Geographical Area</h4>
                        </summary>
                        <p>In the state of Meghalaya, there are 4 districts where ISRN is currently implementing the M-RITE COVID- 19 
                            vaccination program, which will be further sustained with increased targets for coverage. The new 3 
                            districts East Khasi Hills, West Garo Hills and West Jaintia Hills, where the 2nd and and Precautionary
                             doses coverage is low, so proposed to be added to the existing districts. Moreover, there are various 
                             natural challenges that the communities are facing in the hilly terrain. In Nagaland, ISRN is currently
                              implementing M-RITE COVID-19 Vaccination program in 6 districts, where ISRN will provide support to 
                              amplify the Government vaccinations in addition to the 4 newly proposed districts.</p>
                    </div>	


                    


                    



            </article>
        </div>




        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
                <article>
                    
                    <div class="blog-content">
                        <summary>
                            <h3>Awareness Generation</h3>
                        </summary>
                        <p>ISRN took steps to create a mass level of awareness through Social Media platforms regarding Covid-19. 
                            In times when people are doubtful and afraid, it’s really important to project correct and complete 
                            information among the masses from authentic sources like Govt. websites. The organization urged to stay
                             at home and follow the guidelines through Facebook, Twitter, Instagram, and Email as well. ISRN also 
                             mobilized its member organizations across the country to take up initiatives regarding Awareness 
                             Generation, Distributing Essential items, Preventive kits, and Surveillance to reach out to the maximum 
                             number of people.
                        </p>
                    </div>

            </article>
        </div>

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
                <article>
                    
                    <div class="blog-content">
                        <summary>
                            <h3>Distribution of Food, Essentials, and Preventive Kit</h3>
                        </summary>
                        <p>The lockdown impacted every group of society however, the most affected were the labourers, daily wage earners, and migrant workers who faced more challenges in terms of basic amenities in such tough times. ISRN distributed groceries, food, dry ration, and sanitization kits to the needy ones especially migrant workers in slum and industrial areas of Ghaziabad and Greater Noida. 1200 people have been helped so far through this initiative. Frontline functionaries such as doctors and health workers, police, etc are working round the clock risking their lives to fight the virus and save lives. The organization has taken initiative for the protection of health workers by supplying 50 PPE kits to KMGC. ISRN also distributed hot water flasks and tiffin to ensure their good health.
                        </p>
                    </div>

            </article>
        </div>

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
                <article>
                    
                    <div class="blog-content">
                        <summary>
                            <h3>Dialogues with Dr. Vinay Sahasrabuddhe </h3>
                        </summary>
                        <p>In order to understand the ground realities of the varied geography of India, ISRN organized several Dialogues with Dr. Vinay Sahasrabuddhe where 150 Voluntary Organizations of four states namely, Bihar, Uttar Pradesh, North-East, and Uttrakhand participated to discuss the challenges, response, and solutions of Covid-19.
                        </p>
                    </div>

            </article>
        </div>

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
                <article>
                    
                    <div class="blog-content">
                        <summary>
                            <h3>Voluntary Reserve Force (VRF) </h3>
                        </summary>
                        <p>With an objective to support the frontline functionaries and others who are working round the clock to control the pandemic, Indian Social Responsibility Network (ISRN) has taken an initiative of establishing a Volunteer Reserve Force (VRF). The idea behind the initiative is to support the emergency functionaries and others who are working round the clock to control the pandemic. Some creatives of the campaign are attached with the mail for your reference. Till now 5000 volunteers from 31 States and UT’s have registered. These volunteers belong from different backgrounds like health, IT, security, media, banking and finance, supply chains, civil servants, civil defense, drivers, fire fighters, students, etc. who are eager to serve the people of the nation with their respective set of skills.
                            In these critical times, VRF data can be utilized to help where manpower support is required, these volunteers can be placed to nearby areas of their residing to combat COVID-19. Training will have to be provided to these volunteers in safety measures and the work to be assigned to them, by the placement agency, keeping the current situation in mind.
                            </p>
                    </div>

            </article>
        </div>

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
                <article>
                    
                    <div class="blog-content">
                        <summary>
                            <h3>Webinar </h3>
                        </summary>
                        <p>ISRN is part of a Global COVID-19 Network and is organizing a webinar (in 6 sessions) in collaboration with Sambodhi and the University of Washington on “Pandemic Preparedness and Mounting Responses” where esteemed speakers shared their experiences, learning, and insights on the topic. Participants from across the globe are participating in this webinar. So far two sessions have been organized where 80 people via Zoom conferencing and 350 people through Facebook and Twitter live streaming. The objective behind these webinars is to reach out to the maximum number of people to increase awareness and prepare for responses against covid-19. This knowledge exchange will help in bridging the gaps and challenges while also helping in learning through other country’s experiences.</p>
                    </div>

            </article>
        </div>


        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
                <article>
                    
                    <div class="blog-content">
                        <summary>
                            <h3>Fund Raising </h3>
                        </summary>
                        <p>ISRN in collaboration with Taa Music is working to raise funds to support the vulnerable and most affected groups due to Corona pandemic and lockdown. We appeal to organisations and citizens of India to come forward and contribute to the nation and its people.</p>

                        </div>

            </article>
        </div>


        <div class="row">
            
        </div>
    </div>
</section>




