<div class="login-background">
  <div class="login-box">
    <h2>Sign Up</h2>
    <form>
      <div class="user-box">
        <input type="text" #userEmail required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" #userPwd required>
        <label>Password</label>
      </div>
      <a (click)="authService.SignUp(userEmail.value, userPwd.value)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Register
      </a>
      <div class="formGroup">
        <button type="button" class="btn googleBtn" style="color:white" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
        <div class="redirectToLogin">
          <span>Already have an account?<span class="redirect" routerLink="/sign-in" style="color: white;"> Sign In</span></span>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>
        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>


        <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <span class="redirect" routerLink="/sign-in">Log In</span></span
        >
      </div>
    </div>
  </div>-->