<section class="hero-wrap hero-wrap-2"
    style="background-image: url('../../../assets/images/whatwedobg.JPG'); background-size: cover;"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>What We Do <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">What We Do</h1>
            </div>
        </div>
    </div>
</section>


<section class="wwd_first">
    <div class="wwd_text">
        <p>Indian Social Responsibility Network is dedicated to enhancing the capabilities of over 800 grassroots
            organizations. We achieve this through a series of engaging seminars and comprehensive training programs.
            These initiatives play a vital role in strengthening our extended network of partners, enabling them to
            transform into efficient and well-managed organizations that effectively utilize their human and financial
            resources to ensure long-term business sustainability. <br>
            Our Training Programs are designed to empower NGOs with effective strategies, cutting-edge tools, and
            specialized skills needed to maximize their potential. By equipping these organizations with the necessary
            knowledge and techniques, they become proficient in their internal operations as well as their outreach to
            the communities they serve. <br>
            Focused on four key areas—agriculture, education, health, and capacity building—our passionate team is
            dedicated to making a positive impact. With the support of dedicated ground team members and a group of
            volunteers, our team leaders go the extra mile to address the unique challenges in each thematic domain.
            Together, we are committed to driving meaningful change and creating a sustainable future.

        </p>
    </div>
</section>



<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Model Project</span>
                <h2 class="mb-4">Implementation</h2>
            </div>
        </div>
        <p style="text-align: center;">ISRN's interventions have directly benefited nearly 12 lac. people through
            numerous activities. The projects contributed to improving the quality of education, health & hygiene,
            enhancing the
            lives of vulnerable sections of society.
        </p>
        <div class="row justify-content-center" style="margin-right: 0;">

            <div class="landing6">
                <div class="block4 block">
                    <div class="recandp">
                        <div class="line"></div>
                        <p>Education</p>
                    </div>
                    <p class="Statement">ISRN is implementing the Vedanta for the Anil Agarwal Foundation-supported
                        project
                        pertaining to the transformation of Anganwadi Centres into Nand Ghars. Operations & maintenance
                        of 275
                        Nand Ghars in Uttar Pradesh & Rajasthan.
                    </p>
                    <a type="button" class="btn btn-primary" href="whatwedo-education">Learn More</a>
                </div>
                <div class="block1 block">
                    <div class="recandp">
                        <div class="line"></div>
                        <p>Agriculture</p>
                    </div>
                    <p class="Statement">Agriculture plays a vital role in Socio-economic development and nation
                        building.
                        India is primarily an agricultural country, with the agriculture industry accounting for 17-18%
                        of the
                        country's gross domestic product (GDP) and nearly half of the labour force.In spite of this,
                        agriculture
                        sector facing following severe challenges ISRN is helping in the Formation, Promotion, and
                        Capacity Building
                        of 35 Farmer Producer Organisations ISRN has received 35 Farmer Producer Organisations (FPOs) in
                        4 states
                        namely: Jammu & Kashmir, Uttar Pradesh, Uttarakhand, and Himachal Pradesh.
                    </p>
                    <a type="button" class="btn btn-primary" href="whatwedo-agriculture">Learn More</a>
                </div>
                <div class="block2 block">
                    <div class="recandp">
                        <div class="line"></div>
                        <p>Health</p>
                    </div>
                    <p class="Statement">ISRN has been a great contributor in providing general and specialised health
                        care services
                        at door-step and making health services accessible to vulnerable masses. It has organised
                        vaccination drives
                        to fight Covid-19 virus, regularly functioning health centres encouraging the
                        medical/para-medical staff
                        to work more efficiently; it also has provided free, timely, preventive, curative and promotive
                        healthcare
                        facilities and health camps check-ups to the target population living with limited access to
                        dispensaries and
                        government hospitals.
                    </p>
                    <a type="button" class="btn btn-primary" href="whatwedo-health">Learn More</a>
                </div>
                <!--<div class="block3 block">
                    <div class="recandp">
                        <div class="line"></div>
                        <p>POLICY BOOTCAMP</p>
                    </div>
                    <p class="Statement">Leadership and learning are indispensable to each other. The Policy Bootcamp
                        strives to
                        inspire young minds who aspire to become the building blocks of the nation. It serves as a
                        launchpad for
                        aspiring public leaders, and policy enthusiasts who want to build a career in nation-building.
                        The
                        engagement of delegates with public leaders, academicians, bureaucrats, and grassroots workers
                        aims to
                        actively drive responsible reforms in India. We quest for problem solvers, young agents, and
                        future leaders.
                    </p>

                </div>-->

            </div>

        </div>
    </div>
</section>


<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Capacity</span>
                <h2 class="mb-4">Building</h2>
            </div>
        </div>
        <div class="row">

            <section class="ftco-section" id="about-section" style="padding-top: 0; padding-bottom: 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="about-wrap img w-100"
                                style="background-image: url(../../../assets/images/Ngoclinic.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 py-5 pl-md-5">
                            <div class="row justify-content-center mb-4 pt-md-4">
                                <div class="col-md-12 heading-section">
                                    <span class="subheading">About</span>
                                    <h2 class="mb-4">NGO Clinic</h2>
                                    <!--<div class="d-flex about">
                                        <h3>We're in this business since 1975 and We provide the best insdustrial services</h3>
                                    </div>-->
                                    <p>NGO clinic is an interactive session to connect with many organisations through
                                        different platforms, engaging them and uplifting their capacities
                                    </p>
                                    <a class="learn-more" href="whatwedo-ngo">
                                        <span class="circle" aria-hidden="true">
                                            <span class="icon arrow"></span>
                                        </span>
                                        <span class="button-text">Learn More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Training</span>
                <h2 class="mb-4">Programs</h2>
            </div>
        </div>
        <p>Our Training Programs are designed to empower NGOs with effective strategies, cutting-edge tools, and
            specialized skills needed to maximize their potential. By equipping these organizations with the necessary
            knowledge and techniques, they become proficient in their internal operations as well as their outreach to
            the communities they serve. For more information on Capacity Building Trainings and Program on VOs, </p>
        <div class="row">

            <section class="ftco-section" id="about-section" style="padding-top: 0; padding-bottom: 0;">
                <div class="container">
                    <div class="row">
                        <a class="btn btn-primary" href="whatwedo-training">Learn More</a>

                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

<div class="advocacy">
    <div class="container-inner">
        <div class="main-content">
            <div class="main-headings" id="main-headings-js">
                <p id="by-line">Indian Social Responsibility Network</p>

                <div class="heading">
                    <!--<h3 id="heading1">Indian Social</h3>
          <h3 id="heading2">Responsibility Network</h3>-->
                    <h1 id="heading3">Advocacy</h1>
                </div>

                <div class="short-bio">
                    <p>ISRN has organised a number of programs that require participants to learn about concerned
                        government policies and laws along with applied policy and management analysis. In a globalised
                        world that is constantly evolving, we need citizens in all sectors namely government
                        organisations, private companies and those working at the ground level who understand the issues
                        in sustainability, and have the practical skills and knowledge pertaining to the existing and
                        upcoming policies to deal with issues effectively. A major aspect of advocacy programs is ISRN's
                        disposition to engage directly with stakeholders in practical efforts to improve the scenario on
                        the ground. Our efforts involve introducing innovative approaches to address real-world
                        problems.
                    </p>

                    <a class="btn btn-primary" href="whatwedo-advocacy">Learn More</a>

                </div>

                <!--<a href="#" class="link" onclick="readMore()">Read More</a>-->
            </div>

            <!--<div class="more-info " id="more-info-js">
          
          <h4>Lorem ipsum dolor sit.</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse expedita impedit iste, quibusdam debitis fugit repudiandae voluptatum vero quod nulla!</p>
          
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita delectus iusto facere dignissimos quaerat facilis voluptatibus fuga quod impedit. Atque tenetur amet officia repudiandae odit.</p>
          
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni saepe suscipit deleniti porro fugit! Atque nisi alias a porro fugiat incidunt exercitationem! Nihil, consectetur. Expedita.</p>
        </div>-->

        </div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="image" src="../../../assets/images/advocacy.jpg" alt="image">
            </div>
        </div>
    </div>
</div>






<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Research and </span>
                <h2 class="mb-4">Development</h2>
            </div>
        </div>
        <p style="text-align: center;">Many research studies were undertaken on various thematic areas such as health,
            education, environment
            etc. with VOs,Corporates, Governments and other institutions.
        </p>
        <div class="row">



            <section class="ftco-section" id="about-section" style="padding-top: 0; padding-bottom: 0;">
                <div class="container">
                    <div class="row">

                        <div class="faq">
                            <div class="faq-q">
                                <span class="faq-head">
                                    <b>Ministry of Culture: Vision of Antyodaya</b>
                                </span>
                                <br>
                                <a class="learn-more" href="knowledge-publications">
                                    <span class="circle" aria-hidden="true">
                                        <span class="icon arrow"></span>
                                    </span>
                                    <span class="button-text">Learn More</span>
                                </a>
                                <!--<p>
                                    Yes you can, provided your order has not been shipped. Mail us at care@farminii.com
                                    to change your order information. Please note that after your order is shipped you
                                    cannot change any details on your order.
                                </p>-->
                            </div>
                            <div class="faq-q">
                                <span class="faq-head">
                                    <b>Corporates: Shreshtha Bharat “Compendium of CSR Best Practices in India”
                                    </b>
                                </span>
                                <a class="learn-more" href="knowledge-antyodaya">
                                    <span class="circle" aria-hidden="true">
                                        <span class="icon arrow"></span>
                                    </span>
                                    <span class="button-text">Learn More</span>
                                </a>
                                <!--<p>
                                    Mail us at care@farminii.com to change your order information. Please note that
                                    after your order is shipped you cannot change any details on your order.
                                </p>-->
                            </div>
                            <!--<div class="faq-q">
                              <span>
                                <b>Can I change the delivery address?</b>
                              </span>
                              <p>
                                Mail us at ;care@farminii.com&amp; to change your order information. Please note that after your order is shipped you cannot change any details on your order.
                              </p>
                            </div>
                            <div class="faq-q">
                              <span>
                                <b>Can I customize the product?</b>
                              </span>
                              <p>
                                You can email us a care@farminii. and your order will be placed as per your choice. Please mention preferable colors, sizes, finish and other details.
                              </p>
                            </div>
                            <div class="faq-q">
                              <span>
                                <b>Can I get a discount Coupon?</b>
                              </span>
                              <p>
                                If you have received any discount Coupon on your email, you may use the same. You also have access to the Sale Section on the Website. Apart from that, there are no discount Offers currently available.
                              </p>
                            </div>
                            <div class="faq-q">
                              <span>
                                <b>Can I place an Order over the Phone?</b>
                              </span>
                              <p>
                                
                              </p>
                            </div>
                            <div class="faq-q">
                              <span>
                                <b>Can I change my order information?</b>
                              </span>
                              <p>
                                Yes, you can place the orders on the phone. We are available from 9.30 AM to 6.00 PM (Mon - Sat).
                              </p>
                            </div>
                            <div class="faq-q">
                              <span>
                                <b>Guidelines For Writing Product Reviews</b>
                              </span>
                              <ul>
                                <li>Product reviews on <b>FARMINII</b> are an optimum way to help fellow customers decide what to buy, and what to avoid. Here are tips to writing product reviews:
                                </li>
                                <li>
                                  It's always better to review a product you have used
                                </li>
                                <li>
                                  Provide a relevant, unbiased product overview. List all the pros and cons of the product. Make sure you write a review that stays consistent even after years
                                </li>
                                <li>
                                  Provide facts to back up your opinion.
                                </li>
                                <li>
                                  Do not provide inaccurate information. If you're not sure, research.
                                </li>
                                <li>
                                  Be creative but stay on topic.
                                </li>
                                <li>
                                  A quick edit and spell check will give you credibility. Also, break reviews into small pointers.
                                </li>
                              </ul>
                            </div>
                            <div class="faq-q">
                              <span>
                                <b>How can I add more products to my order?</b>
                              </span>
                              <p>
                                Mail us at care@farminii.com&amp; to add more products to your order before your order is shipped.
                              </p>
                            </div>
                            <div class="faq-q">
                              <span>
                                <b>How can I get the discount Coupons?</b>
                              </span>
                              <p>
                                If you are a new customer, you can register on our website and avail discount on your first order with us.
                              </p>
                             </div>
                            <div class="faq-q">
                              <span>
                                <b>How do I make a Bank Transfer?</b>
                              </span>
                              <p>
                                Bank Transfer is one of the Payment Options available. Below are the details of the Bank where you can make a Transfer.
                              </p>
                              <ul type="none" style="font-size:16px; font-weight:bold;">
                                  <li><i>Account Name</i> :</li>
                                  <li><i>Bank Name</i> :</li>
                                  <li><i>Account No.</i> :</li>
                                  <li><i>IFSC Code</i> :</li>
                                  <li><i>Branch</i> :</li>
                                  <li><i>MICR Code</i> :</li>
                               </ul>
                             </div>-->
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</section>




<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Need</span>
                <h2 class="mb-4">Assessment</h2>
            </div>
        </div>
        <div class="row">

            <p>Indian Social Responsibility Network along with the team of Centre for Digital Financial Inclusion
                initiated a village
                development plan in the Tarapur Village of Neemuch district and Behpur village of Mandsaur district in
                Madhya Pradesh.
                A survey for need assessment was carried out to develop SAGY Gram Panchayats as model Gram Panchayats so
                that all
                the relevant government schemes, projects and resources are executed properly. The data collection in
                the gram
                panchayat was carried out through an app called KoBoCollect. The app has two different forms, one for
                data from
                households and another for data about the villages.
                <br>
                On the basis of the data, CDFI and ISRN will prepare the VDP with the involvement of village panchayat
                members
                and village functionaries. CDFI and ISRN will also plan for the resource mobilisation, project planning,
                implementation
                strategy and facilitation towards fulfilling the needs of VDP.
            </p>

        </div>
    </div>
</section>



<section class="ftco-section" id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">

                <div class="col-md-12 heading-section">
                    <span class="subheading">ISRN</span>
                    <h2 class="mb-4"> Network</h2>
                    <!--<div class="d-flex about">
                        <h3>About Membership</h3>
                    </div>-->
                    <p>ISRN Membership is open to Corporate and VOs. The membership brings the advantages of knowledge,
                        networking, and resources that help Corporates meet their CSR objectives and statutory
                        obligations under companies that act easily and efficiently, while making resources available to
                        VOs. The memberships also provide Grassroot organisations with opportunities to get connected
                        with the Corporates and have access to projects that contribute to community development.
                    </p>
                    <br>
                    <a class="btn btn-primary" href="membersdirectory">Members Directory</a>
                </div>


            </div>
            <div class="col-md-6">
                <div class="row justify-content-center mb-4">
                    <div class="col-md-12 heading-section">

                        <h2 class="mb-4"> Eligibility Criteria:</h2>
                        <!--<div class="d-flex about">
                            <h3>About Membership</h3>
                        </div>-->
                        <p>To be eligible to apply for the membership, your organisation needs to meet either of the
                            following requirements: VOs - Societies Registration Act, 1860, Indian Trusts Act, 1882, The
                            Charitable and Religious Trusts Act, 1920. Corporate - Company registered under the
                            Companies Act, 1956 or Companies Act, 2013
                        </p>
                        <a href="https://docs.google.com/forms/d/1xpVx0-vRuj6FTRB0t03zcb6_dMXpbPQGhogkNkQ0N98/edit">ISRN
                            Membership Application Form for corporate</a>
                        <br>
                        <a href="https://docs.google.com/forms/d/1xpVx0-vRuj6FTRB0t03zcb6_dMXpbPQGhogkNkQ0N98/edit">ISRN
                            Membership Application Form for VOs</a>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section VisionMission" id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch vision">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section">
                        <h2 class="mb-4"> Benefits to Corporate</h2>
                        <!--<div class="d-flex about">
                            <h3>We're in this business since 1975 and We provide the best insdustrial services</h3>
                        </div>-->
                        <ul>
                            <li>Expert advisory and facilitation for undertaking CSR projects – Dovetailing business
                                objectives with CSR mandate</li>
                            <li>Co-create CSR/Social development projects with Government/VOs.</li>
                            <li>Facilitate PPP in CSR</li>
                            <li>Project life cycle support from cradle to cradle</li>
                            <li>Quality Monitoring & Evaluation Support for CSR projects</li>
                            <li>Access to data of credible and efficient implementing agencies (VOs)</li>
                            <li>Participation in ISRN’s events with concessional fee – seminars, workshops, training
                                etc.</li>
                            <li>Access to regular updates on CSR and other critical information</li>
                            <li>Showcasing of CSR activities through website/promotional material, newsletter etc.</li>
                            <li>Improved relationship with community and other stakeholders</li>
                            <li>Enhanced brand visibility and brand equity</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mission">
                <div class="row justify-content-center mb-4 pt-md-4">
                    <div class="col-md-12 heading-section">
                        <h2 class="mb-4"> Benefits to Voluntary Organisations</h2>
                        <!--<div class="d-flex about">
                            <h3>We're in this business since 1975 and We provide the best insdustrial services</h3>
                        </div>-->
                        <ul>
                            <li>Accreditation of VOs</li>
                            <li>Capacity building as per the needs in required domains</li>
                            <li>Interface with corporate donors</li>
                            <li>Project preparation at concessional rates</li>
                            <li>Organisational profiling for enhanced visibility and impact</li>
                            <li>Enhanced visibility through listing on ISRN website</li>
                            <li>Concessional participation in ISRN seminars, workshops, training etc.</li>
                            <li>Hand holding in implementation of CSR projects</li>
                            <li>Access to regular updates on CSR/ government programs and opportunities</li>
                            <li>Provision of support services/facilitation to VOs at nominal professional </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>