<section class="hero-wrap hero-wrap-2" style="background-image: url({{BannerUrl}});"
     >
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Donate! <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Donate!</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" style="padding-top: 30px;">
    <div class="container">

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->

            <article>

                <!--<div class="blog-content">
                    <summary>
                        <h4>Volunteering</h4>
                    </summary>
                </div>-->
                <div class="blog-content">

                    <p>ISRN believes that having a right to live in equality is something each human deserves, and with
                        support from people like you, we are transforming the lives of thousands of our fellow citizens.
                        We have held workshops and training sessions for more than 800 member organizations, fostering a
                        symbiotic growth system.
                        <br>
                        We genuinely appreciate all of your help, love, and support for ISRN. We humbly request you to
                        provide us with all the support, advice, and invaluable assistance that will enable us to ensure
                        that each of our people are empowered to grow and flourish in their own unique way. Please scan
                        the QR code to donate for the initiatives, as your small contribution will help maintain the
                        smiling faces of millions.
                    </p>

                    <p><a class="btn btn-primary" href="">Donate Now</a></p>

                    <p>You can contribute to us here or kindly scan the link.</p>
                </div>

            </article>



        </div>
    </div>
</section>