<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/health2.jpg');"
     >
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>What We Do <i class="fa fa-chevron-right"></i></span>
                    <span> Health <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Health</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" id="mritescroll">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section">
                <span class="subheading">M-RITE</span>
                <h2 class="mb-4">Project</h2>
            </div>
        </div>
        <p style="text-align: left;">ISRN is amplifying the government COVID-19 vaccination drive in the northeastern
            states of
            Meghalaya and Nagaland. We also had a Review cum Planning of the entire MRITE Project by the JSI Team in the
            month
            of December 2022 in Shillong. The target locations were 17 Districts - 10 districts in Nagaland and 7
            districts in
            Meghalaya.
            <br>
            <b>The program objectives were:</b>
        </p>
        <ul>
            <li>To support district health departments in strategizing, planning, and rapidly rolling out vaccination
                programs to achieve maximum coverage.</li>
            <li>To stimulate demand generation and social mobilisation for COVID-19 vaccination uptake.</li>
            <li>To reinforce the building capacity of health workers and community outreach workers.</li>
            <li>To motivate the private sector and other relevant stakeholders including media and social media
                influencers
                for the COVID-19 vaccination drive for improving accessibility and wider coverage of the COVID-19
                vaccine.
            </li>
            <li>To ensure equitable distribution and focus on the last-mile reach of COVID-19 vaccination for the
                eligible
                population, including high priority groups and left out beneficiaries.
            </li>
        </ul>

        <p style="text-align: left;">ISRN has vaccinated over 1,65,000 people till date and sensitised more than 2 lakh
            people across the 2 states.</p>

        <div class="row">

            <div id="carouselExample" class="carousel slide" >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/AgricultureSlider1Default.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" *ngFor="let item of slider1">
                    <img [src]="item.PicLink" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" id="chcScroll">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section">
                <span class="subheading">CHC/ PHC</span>
                <h2 class="mb-4">Solar Project</h2>
            </div>
        </div>
        <p style="text-align: left;">Lightening up the Lives! - In India, Primary Health Centers (PHCs) and Community
            Health Centers
            (CHCs) constitute the backbone for providing rural health services to the local rural masses. But, the
            utility in
            providing health services is particularly restrained by the state of poor electricity supply in these areas.
            <br>
            ISRN has worked towards improving the overall health performances of selective Community Health Centers
            (CHCs) and
            Primary Health Centre (PHC) located in Rajasthan, by installing solar plants and providing the 24/7
            electricity for
            efficient functioning.
            <br>
            The Initiative Resulted in 24*7 functioned Outpatient Department, Wards, Operation Theater Labor room, Minor
            OT/Dressing
            Room/Injection Room/Emergency, Cold Chain Room Laboratory Water storage and Drinking water facility.
            Regularly
            functioning health centres encouraged the medical/para-medical staff to work more efficiently.
        </p>



        <div class="row">

            <div id="carouselExample" class="carousel slide" >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/AgricultureSlider1Default.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" *ngFor="let item of slider2">
                    <img [src]="item.PicLink" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" id="mhuScroll" style="margin-top: 0; padding-top: 0;">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section">
                <span class="subheading">Mobile Health</span>
                <h2 class="mb-4">Unit</h2>
            </div>
        </div>
        <p style="text-align: left;">The Mobile Health unit, the core of the project “स्वस्थ बस्ती, स्वस्थ शहर” is a mini hospital on wheels 
            equipped with oxygen cylinder, medical lab and emergency equipment, drugs cabinet, etc.  It is an innovative way to 
            provide free, timely, preventive, curative and promotive healthcare facilities to the target population living with 
            limited access to dispensaries and government hospitals.
            <br>
            The main  goal is to provide general and specialised health care services at door-step and make health services 
            accessible to vulnerable masses residing in slum areas of Delhi-NCR. The project is aimed for shantytowns where 
            residents are in dire need of quality health services. The project entails several other activities for the beneficiaries 
            like Free of cost Health Camps, counselling of healthcare & hygiene, referral services to patients in need of critical 
            treatment etc. The project started in 2018 and interventions made by the project have tremendously improved the health 
            condition of the community in a short period.
        </p>
        <div class="row">

            <div id="carouselExample" class="carousel slide" >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/AgricultureSlider1Default.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" *ngFor="let item of slider3">
                    <img [src]="item.PicLink" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" style="margin-top: 0; padding-top: 0;">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section">
                <span class="subheading">Health Check-Up</span>
                <h2 class="mb-4">Camps</h2>
            </div>
        </div>
        <p style="text-align: left;">As part of the CSR initiative of Power Grid Corporation of India Limited (PGCIL) health 
            check-up camps were held at 95 locations across various states for the general public/ villagers. On behalf of 
            PHDRDF, 14 of these health check camps were facilitated by ISRN and organised by its members in 14 locations across 
            the states of Karnataka, Bihar, Chhattisgarh, Manipur and Himachal Pradesh.  During these camps eye check-up & 
            pathological tests were also conducted in addition to providing free medicines to the villagers. Talks explaining 
            the importance of cleanliness were also delivered during these camps. The camps facilitated by ISRN in 14 locations 
            benefited more than 4000 persons.
        </p>
        <div class="row">

            <div id="carouselExample" class="carousel slide" >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/AgricultureSlider1Default.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" *ngFor="let item of slider4">
                    <img [src]="item.PicLink" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>
    </div>
</section>