<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/Agriculture2.jpeg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>What We Do <i class="fa fa-chevron-right"></i></span>
                    <span> Agriculture <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">Agriculture</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">FPO Formation and</span>
                <h2 class="mb-4">Promotion</h2>
            </div>
        </div>
        <p style="text-align: center;">ISRN has received 35 Farmer Producer Organisations (FPOs) for formation & management from 
            Government agencies NAFED & SFAC in 4 states  namely: Jammu & Kashmir, Uttar Pradesh, Uttarakhand, and Himachal Pradesh. 
            ISRN is also contributing in providing support to farmers in  Credit & Market linkages, and  Technical Trainings 
        </p>
        <div class="row">

            
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/health.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/Education.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/Agriculture.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            

        </div>
    </div>
</section>

<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Training and</span>
                <h2 class="mb-4">Workshop</h2>
            </div>
        </div>
        <p style="text-align: center;">Several trainings and workshops were organised to support and promote 17 FPOs consisting of 
            more than 5000 farmers. A technical training conference for farmers was organised on 9th January 2019 by PPRC in 
            association with ISRN. The conference was inaugurated by Mr. Ashish Bhutani - IAS, CEO, PMFBY and Mrs. T.L. Alamelu,
             CMD, Agriculture Insurance of India who conducted the first session on Prime Minister Fasal Bima Yojna. The session 
             was moderated by Shri Santosh Gupta , CEO ISRN. 
        </p>
        <div class="row">

            
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/health.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/Education.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/Agriculture.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            

        </div>
    </div>
</section>

<section class="ftco-section bg-half-light">
    <div class="container">
        <div class="row justify-content-center pb-2">
            <div class="col-md-8 text-center heading-section   ">
                <span class="subheading">Market</span>
                <h2 class="mb-4">linkages</h2>
            </div>
        </div>
        <p style="text-align: left;">ISRN supported Farmers and FPOs in building effective market linkages to various big market
             FMCG companies and others such as Haldiram, Big basket, Grofers, DIF, Patanjali and Safal(Mother Dairy) etc. for their
              produce.
              <br>
              <b>The aim of FPOs:</b>
            </p>
              <ul>
                <li>To Promote and support economically viable, democratically managed, and self-governed Farmer Producer  
                    Organisations.</li>
                <li>To channel required assistance by way of policy, inputs, technical knowledge, market linkage, credit linkage,  
                    and infrastructure support to strengthen FPOs.
                </li>
                <li>To remove hurdles in small & marginal farmers' access to markets through FPOs. </li>
                <li>To create an enabling environment for fostering and nurturing FPOs.</li>
            </ul>
        
        <div class="row">

            
        
            

        </div>
    </div>
</section>


