<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/Initiative.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Knowledge Hub <i class="fa fa-chevron-right"></i></span>
                    <span> CSR <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-3 bread">CSR Acts, Amendments, and Notifications</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-half-light" style="padding-top: 30px;">
    <div class="container">

        <div class="blog-post">
            <!--<div class="blog-hero"></div>-->
            <article>

                <div class="blog-content">
                    <p>We at ISRN try to ensure adequate assistance to all diverse setups like the corporate, voluntary
                        organizations and government departments. It is a hand holding agency which facilitates the
                        capacities
                        and potentials of its members in all possible ways like as resource agency, for financial
                        assistance,
                        for developing strategies etc. The focus of the forum is to enable its members, to work together
                        towards
                        the targets aimed at and achieve better results. <br>
                        The whole aim of the forum is to bring together the three sectors which aim at working towards
                        community development and establish a model of development where all the three players work
                        together
                        using each other's expertise towards one common goal.
                    </p>

                    <summary>
                        <h4>CSR activities</h4>
                    </summary>
                </div>
                <div class="blog-content">
                    <ul>
                        <li>Eradicating hunger, poverty and malnutrition, promoting preventive health care, sanitation
                            and safe drinking water
                        </li>
                        <li>Promoting education, including special education and employment enhancing vocation skills
                            livelihood enhancement projects</li>
                        <li> Promoting gender equality, empowering women, senior citizens and socially and economically
                            backward groups</li>
                        <li>Ensuring environmental sustainability</li>
                        <li>Protection of national heritage, art and culture</li>
                        <li>Benefit to armed forces veterans, war widows and their dependents</li>
                        <li>Promotion of rural sports, nationally recognized sports, Paralympics sports and Olympic
                            sports</li>
                        <li>Contribution to the Prime Minister's National Relief Fund or any other fund set up by the
                            Central
                            Government</li>
                        <li>Contributions or funds provided to technology incubators located within academic
                            institutions which
                            are approved by the Central Government</li>
                        <li>Rural development projects</li>
                    </ul>

                    <p>Two flagship schemes “Swach Bharat Abhiyan” and “Clean Ganga Mission” of NDA II have been
                        included as CSR activities under Schedule VII of the Companies Act, 2013 from 24th October,
                        2014.
                        <br>
                        <b>Recently, Government has asked private sector to utilize their CSR fund for Covid-19 activities.</b> 
                        <br>
                        <a href="http://www.mca.gov.in/MinistryV2/companiesact2013.html">Companies Act. 2013</a>
                        <br>
                        <a href="https://mca.gov.in/SearchableActs/Section135.htm">Section 135</a>
                        <br>
                        <a href="../../../assets/CSR PDFs/CompaniesAct2013.pdf">Companies Act 2013 PDF</a>


                    </p>
                </div>

                </article>
        </div>


        <div class="row">


            <section class="ftco-section" id="about-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
            
                            <div class="col-md-12 heading-section">
                                <!--<span class="subheading">ISRN</span>-->
                                <h2 class="mb-4"> CSR Amendements</h2>
                                <!--<div class="d-flex about">
                                    <h3>About Membership</h3>
                                </div>-->
                                <a href="../../../assets/CSR PDFs/Amendments/Amendment_18.03.2020.pdf">Amendment 18-03-2020</a>
                                <br>
                                <a href="../../../assets/CSR PDFs/Amendments/Amendment_01.08.2019.pdf">Amendment 01-18-2019</a>
                                <br>
                                <a href="../../../assets/CSR PDFs/Amendments/Amendment_05.01.2018.pdf">Amendment 05-01-2018</a>
                                <br>
                                <a href="../../../assets/CSR PDFs/Amendments/Amendment_25-05-2015.pdf">Amendment 25-05-2015</a>
            
                            </div>
            
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-12 heading-section">
                                
                                    <h2 class="mb-4"> CSR Notifications</h2>
                                    <!--<div class="d-flex about">
                                        <h3>About Membership</h3>
                                    </div>-->
                                    <a href="../../../assets/CSR PDFs/Notifications/NotificationCAO2019_26.03.2019.pdf">Notification 26-03-2019</a>
                                    <br>
                                    <a href="../../../assets/CSR PDFs/Notifications/NotificationCAO2019_15.01.2019-1.pdf">Notification 15-01-2019</a>
                                    <br>
                                    <a href="../../../assets/CSR PDFs/Notifications/NotificationCompaniesAmendmentOrdinance_05.11.2018.pdf">Notification 15-11-2018</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>