<!-- Top navigation -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ISRN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="annualreports">
                <i class="fa fa-book"></i>Annual Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="compendium">
                <i class="fa fa-book"></i>Compendium
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="newsletters">
                <i class="fa fa-book"></i>Newsletter
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <router-outlet></router-outlet>

      </main>
    </div>
  </div>